@import url('./reset.css');
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.container{
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased !important;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  line-height: 1.4em;
  color: #373737;
  cursor: default;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  margin: 0 auto;
  width: 480px;
  background: #fff;
}
.offer-section{
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased !important;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  line-height: 1.4em;
  color: #373737;
  cursor: default;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  display: block;
  background: #f4f5f7;
  padding: 0 0 25px;
}
.main-title{
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased !important;
  cursor: default;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  outline: 0;
  background: darkolivegreen;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 46px;
  line-height: 1.1em;
  font-family: 'Bebas Neue', sans-serif;
  padding: 12px 0;
}
.main-subtitle{
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased !important;
  font-family: 'Proxima Nova', sans-serif;
  color: #373737;
  cursor: default;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  outline: 0;
  font-size: 22px;
  line-height: 1.3em;
  text-transform: uppercase;
  padding: 14px 0 12px;
  font-weight: 400;
  background: #ffeee6;
  text-align: center;
  letter-spacing: 1px;
}
.box{
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
}
.box img{
  display: block;
    width: 100%;
    height: 398px;
}
.sale{
  width: 184px;
    height: 159px;
    background: url(https://chehol.podarunok.space/images/sale.png) 50% 50% no-repeat;
    position: absolute;
    left: 0;
    bottom: 0;
}
.sale span{
  text-transform: uppercase;
    color: #fff;
    text-shadow: 0 1px 0 #ed9a36;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2em;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 82px;
    left: -19px;
    transform: rotate(40deg);
}
.price {
  background: url(https://chehol.podarunok.space/images/price.png) 50% 0% no-repeat;
}
.old{
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased !important;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  color: #373737;
  cursor: default;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  height: 87px;
  width: 50%;
  float: left;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.1em;
  padding-top: 16px;
}
.new{
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased !important;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  cursor: default;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  height: 87px;
  width: 50%;
  float: left;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.1em;
  padding-top: 16px;
  color: #fff;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.price div>p {
  font-size: 36px;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
.price .old p span {
  text-decoration: line-through;
}
.offer_section .price div>p small {
  font-size: 0.8em;
}
.offr-bull{
  font-size: 0;
    letter-spacing: -1px;
    text-align: center;
    padding: 30px 0 0;
    margin: 0 0 20px;
list-style-type: none;
}
.ofr-bull>li {
  width: 135px;
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
  background: #fff;
  padding: 20px 0px 16px;
  font-size: 17px;
  letter-spacing: normal;
  font-weight: 700;
  line-height: 1.3em;
  border-radius: 50px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.05);
  text-align: center;
}
.difference {
  font-size: 24px;
  text-align: center;
  margin-bottom: 5px;
}
.difference span {
  width: 135px;
  height: 56px;
  line-height: 56px;
  background: url(https://chehol.podarunok.space/images/difference.png) 50% 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-weight: 700;
  color: #fff;
  margin-left: -5px;
  font-size: 22px;
}
a:hover {
  cursor: pointer;
}
.button-m {
  border: none;
  cursor: pointer;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  height: 90px;
  width: 360px;
  display: block;
  border-radius: 40px;
  line-height: 90px;
  text-decoration: none;
  text-align: center;
  background: linear-gradient(to bottom, #ffc44c, #ff8801);
  border-bottom: 4px solid #ea7c00;
  font-size: 25px;
  letter-spacing: 1px;
  margin: 0px auto;
  color: #fff;
  position: relative;
  text-shadow: 0 1px 0 #db850f;
}
.prod-count {
  text-align: center;
  font-size: 18px;
  margin-top: 25px;
}
.prod-count>span {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #806d83;
  line-height: 38px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}
section {
  padding: 35px 0 30px;
}
h2.title {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 26px;
  line-height: 1.2em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  padding: 0 20px;
}
h2.title span {
  color: #806d83;
}
.sect2>p {
  text-align: center;
  padding: 0 20px;
  margin-bottom: 25px;
}
.sect4 .img {
  position: relative;
  margin-bottom: 25px;
}
.sect4>p {
  padding: 0 20px;
  text-align: center;
  margin-bottom: 30px;
}
.sect5 {
  background: #7c667f url(https://chehol.podarunok.space/images/s5_bg.jpg) 50% 0% no-repeat;
  padding-top: 30px;
}
.sect5>p {
  padding: 0 20px;
  text-align: center;
  color: #fff;
}
.novelty {
  text-align: center;
  margin-bottom: 30px;
}
.novelty>span {
  background: #f4f5f7;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 12px 12px;
  border-radius: 20px;
  position: relative;
  color: #876e84;
}
.novelty>span:after {
  content: '';
  width: 54px;
  height: 54px;
  background: url(https://chehol.podarunok.space/?fbp=707486541518193) 50% 50% no-repeat;
  top: 50%;
  left: 50%;
  position: absolute;
  margin: -27px 0 0 -27px;
}
.novelty>span>span {
  margin-left: 70px;
}
.color_list {
  text-align: center;
  font-size: 0;
}
.color_list>li {
  width: 400px;
  display: inline-block;
  vertical-align: top;
  font-size: 19px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 30px;
}
.sect8 .subtitle {
  text-align: center;
  margin: -20px 0 35px;
  padding: 0 50px;
}
.inst_item{
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased !important;
  font-weight: 400;
  line-height: 1.4em;
  color: #373737;
  cursor: default;
  font-family: 'Tahoma', sans-serif;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: #fff;
  margin-bottom: 25px;
  padding: 25px 0 30px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
  border-radius: 50px;
}
.info {
  padding: 0 100px;
  margin-bottom: 15px;
  position: relative;
  background: url(https://chehol.podarunok.space/images/rev_info.png) 395px 50% no-repeat;
}
.inst_item .info:before {
  content: '';
  font-size: 30px;
  line-height: 32px;
  color: #9b9b9b;
  font-weight: 700;
  font-family: 'Proxima Nova', serif;
  position: absolute;
  right: 24px;
  top: 8px;
}
.likes {
  font-weight: 700;
  font-size: 17px;
  line-height: 1.3em;
  padding: 35px 20px 0;
  margin-bottom: 10px;
  background: url(https://chehol.podarunok.space/images/inst_likes.png) 0% 20% no-repeat;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.inst_item>p {
  padding: 0 20px 0;
  font-size: 17px;
  line-height: 1.4em;
  margin-bottom: 13px;
}
.color_theme .title, .color_theme .title span {
  color: #fff;
}
.sect9 {
  padding-bottom: 10px;
}

.color_theme {
  background: darkolivegreen;
}
.order_list {
  font-size: 0;
}
.order_list>li {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  font-size: 18px;
  line-height: 1.2em;
  margin-bottom: 30px;
  text-align: center;
  padding: 0 35px;
}
.order_list>li:nth-child(1):before {
  background: url(https://chehol.podarunok.space/images/order_icons.png) 50% 0% no-repeat;
}
.order_list>li:before {
  content: '';
  display: block;
  height: 85px;
  margin: 0 auto 15px;
}
.order_list>li>span {
  font-size: 19px;
  font-weight: 700;
  display: block;
  margin-bottom: 4px;
}
.order_list>li:nth-child(2):before {
  background: url(https://chehol.podarunok.space/images/order_icons.png) 50% -85px no-repeat;
}
.order_list>li:nth-child(3):before {
  background: url(https://chehol.podarunok.space/images/order_icons.png) 50% -170px no-repeat;
}
.order_list>li:nth-child(4):before {
  background: url(https://chehol.podarunok.space/images/order_icons.png) 50% -255px no-repeat;
}
.offer_section {
  background: #f4f5f7;
  padding: 0 0 25px;
}
.main_title {
  background: darkolivegreen;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 46px;
  line-height: 1.1em;
  font-family: 'Bebas Neue', sans-serif;
  padding: 12px 0;
}
.main_subtitle {
  font-size: 22px;
  line-height: 1.3em;
  text-transform: uppercase;
  padding: 14px 0 12px;
  font-weight: 400;
  background: #ffeee6;
  text-align: center;
  letter-spacing: 1px;
}
.formbox {
  width: 420px;
  margin: 0 auto;
  margin-top: 12px;
  background: darkolivegreen;
  border-radius: 40px;
  padding: 30px 30px 25px;
  color: #fff;
}
.formbox .action_text {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
.m1-form input {
  width: 100%;
  display: block;
  font-family: 'Proxima Nova', sans-serif;
  border: #e1d9cc 1px solid;
  font-size: 20px;
  margin-bottom: 20px;
  height: 76px;
  border-radius: 40px;
  background: #fff;
  text-align: center;
  color: #373737;
}
.prod_count {
  text-align: center;
  font-size: 17px;
  margin-top: 25px;
}
.formbox .prod_count span {
  background: #fff;
  color: #7c667f;
}
.prod_count>span {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #806d83;
  line-height: 38px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}
.footer_section {
  padding: 25px 0;
  background: #fff;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
.footer_section a {
  color: #222;
  display: block;
}
.footer_section a:hover {
  text-decoration: underline;
}